h1 {
    color: blueviolet;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .collage img{
    display: flex;
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
   
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }


  
  .photo-gallery{
    display: flex;
    gap: 20px;
  }

  .column img {
    width: 100%;
    margin: 5px;
    padding: 5px;
  }



  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (min-width: 800px) {
   .flex-container {
    display: flex;
    flex-wrap: wrap;
   }
   .column{
    flex: 1;
   }
}